In [6]:
import pandas as pd
df = pd.read_csv("voidtools.csv")
df

,tablescraper-selected-row,tablescraper-selected-row 2,tablescraper-selected-row 3
0,Donation History,Comment,Amount
1,21 February 2024,It works...Well,$5.00 USD
2,21 February 2024,"(Second donation) Most versatile, easy to use ...",$15.00 USD
3,21 February 2024,"David, thank you! File Explorer sucks and bewi...",$10.00 USD
4,20 February 2024,"Thank you for ""Everything"" :)",€5.00 EUR
...,...,...,...
529,2 September 2023,NaN,$20.00 USD
530,2 September 2023,NaN,$10.00 USD
531,1 September 2023,Would love to see an android version of this.,$5.00 USD
532,1 September 2023,"This program is amazing, I use it for work all...",$50.00 USD
533,1 September 2023,This tool is an essential part of my workflow....,$100.00 USD

In [7]:
df["tablescraper-selected-row 3"][:3]

0        Amount
1     $5.00 USD
2    $15.00 USD
Name: tablescraper-selected-row 3, dtype: object

In [8]:
df["tablescraper-selected-row"]

0      Donation History
1      21 February 2024
2      21 February 2024
3      21 February 2024
4      20 February 2024
             ...
529    2 September 2023
530    2 September 2023
531    1 September 2023
532    1 September 2023
533    1 September 2023
Name: tablescraper-selected-row, Length: 534, dtype: object

In [16]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("voidtools.csv")

# Extract numerical values from the "Amount" column and convert them to numeric data type
df["Amount"] = df["tablescraper-selected-row 3"][:103].str.extract(r'([\d.]+)').astype(float)

# Calculate the total revenue
total_revenue = df["Amount"].sum()

print("Total Revenue:", total_revenue)

Total Revenue: 1763.3400000000001

In [1]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("voidtools.csv")

# Extract numerical values from the "Amount" column and convert them to numeric data type
df["Amount"] = df["tablescraper-selected-row 3"][:103].str.extract(r'([\d.]+)').astype(float)

# Filter out amounts less than 10
df_filtered = df[df["Amount"] >= 10]

# Calculate the total revenue
total_revenue = df_filtered["Amount"].sum()

print("Total Revenue (excluding amounts less than 10):", total_revenue)

Total Revenue (excluding amounts less than 10): 1649.65

In [4]:
for d in df_filtered["Amount"]:
    print(d)

15.0
10.0
32.65
20.0
10.0
20.0
50.0
15.0
12.0
10.0
10.0
20.0
10.0
10.0
10.0
20.0
30.0
10.0
100.0
10.0
50.0
188.0
10.0
10.0
40.0
100.0
25.0
100.0
20.0
10.0
20.0
12.0
10.0
10.0
10.0
10.0
10.0
10.0
20.0
20.0
20.0
10.0
20.0
20.0
10.0
20.0
30.0
20.0
20.0
50.0
20.0
20.0
30.0
20.0
10.0
10.0
20.0
25.0
20.0
50.0
20.0
10.0
10.0
10.0
15.0
10.0
10.0
10.0

In [3]:
df["Amount"].to_csv("amount.csv")